@font-face { font-family: LoveGlitch; src: url('LoveGlitchPersonalUseRegular-vmEyA.ttf'); }  /*imported fint */
* {
    margin: 0;
    padding: 0;
  }
body{
    background-image: url("https://cdn.wallpapersafari.com/35/73/LUhwmg.gif");  /* background, body stricture, and text */
    font-family: LoveGlitch;
    color: rgb(255, 255, 255);
    font-weight: normal;
    display: flex;
    flex-direction: column;
}
h1, h2, #allbuttons, #choice-pictures, #choice, #score{ /*main structure */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    height: 15vh;
}
h1{
    margin-top: 3vh;
}
#allbuttons{
    gap: 5em;
}
#choice-pictures img{
    width: 50px;
    height: 50px;
}
#allbuttons img{
    width: 9vw;
    height: 19vh;
}
#allbuttons img:hover{
    width: 10vw;
    height: 21vh;
    cursor: pointer;
}

#allbuttons button{
    width: 9vw;
    height: 18vh;
    border-radius: 50%;
    border: none;
    background-color: transparent;
}

#score h3{
    font-family:monospace;
}
#choice-pictures{
    gap: 6em;
}
#choice-pictures img{
    height: 11vh;
    width: 5vw;
}
#score, #choice{
    font-size: 5vh;
}
#choice{
    gap: 3.5em;
}
#score{
    gap:3.25em;
}
h1{
    font-size: 7vh;
}
h2{
    font-size: 5vh;
}
#score h3{
    font-size: 4.5vh;
}
.score1{
    display: inline-flex;
    gap:.5em;
    align-items: center;
}
#allbuttons button:active {     /*click animation */
    transform: translateY(4px);
  }
  /* modal background */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4); 
  }
  /* modal box */
  .modal-content {
    background-color: #ffffff;
    margin: 12.5em auto;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 4px solid rgb(156, 156, 156);
    width: 25%; 
    height: 10%;
    color: black;
    border-radius: 20px;
  }
  
